<nav class="bg-black p-4">
  <div class="max-w-7xl mx-auto flex items-center justify-between flex-wrap">
    <div class="block lg:hidden ml-auto">
      <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-300 border-gray-400 hover:text-white hover:border-white">
        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
          <path d="M0 3h20v2H0zM0 9h20v2H0zM0 15h20v2H0z"/>
        </svg>
      </button>
    </div>

    <!-- Mobile Menu -->
    <div id="nav-menu-mobile" class="w-full block lg:hidden hidden transition-all duration-300 ease-in-out">
      <div class="flex flex-col space-y-2 mt-4">
        <a href="/" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded text-center">Home</a>
        <a href="/shop" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded text-center">Shop</a>
        <a href="/events" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded text-center">Events</a>
        <a href="/accolades" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded text-center">Accolades</a>
        <a href="/admin" data-link id="admin-link-mobile" class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded text-center hidden">Admin</a>
        <button id="login-btn-mobile" class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded hidden">Login with Discord</button>
        <button id="logout-btn-mobile" class="bg-gray-800 hover:bg-gray-800 text-white font-bold py-2 px-6 rounded hidden">Logout</button>
      </div>
    </div>

    <!-- Desktop Menu -->
    <div class="hidden lg:flex lg:items-center lg:w-auto lg:ml-auto space-x-4">
      <p id="user-info" class="text-gray-300 hidden mt-2">Logged in as <span id="display-name"></span></p>
      <a href="/" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded">Home</a>
      <a href="/shop" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded">Shop</a>
      <a href="/events" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded">Events</a>
      <a href="/accolades" data-link class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded">Accolades</a>
      <a href="/admin" data-link id="admin-link" class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded hidden">Admin</a>
      <button id="login-btn" class="bg-pfc-red hover:bg-red-800 text-white font-bold py-2 px-4 rounded hidden">Login with Discord</button>
      <button id="logout-btn" class="bg-gray-800 hover:bg-gray-800 text-white font-bold py-2 px-6 rounded hidden">Logout</button>
    </div>
  </div>
</nav>
